// ----
// Sass (v3.4.4)
// Compass (v1.0.1)
// ----

// $settings: (
//     maxWidth: 1170px,
//     columns: 12,
//     margin: 15px,
//     breakpoints: (
//         xs: "(max-width : 480px)",
//         sm: "(max-width : 768px) and (min-width: 481px)",
//         md: "(max-width : 1024px)  and (min-width: 769px)",
//         lg: "(min-width : 1025px)"
//     )   
// );

// @mixin renderGridStyles($settings){
//   .container {
//     padding-right: map-get($settings, "margin");
//     padding-left: map-get($settings, "margin");
//     margin-right: auto;
//     margin-left: auto;
//     max-width: map-get($settings,"maxWidth");
//   }
  
//   .row {
//     margin-right: map-get($settings, "margin") * -1;
//     margin-left: map-get($settings, "margin") * -1;
//   }
//   $breakpoints: map-get($settings, "breakpoints");
//   @each $key, $breakpoint in $breakpoints {
//     @include media($breakpoint) {
//       @include renderGrid($key, $settings);
//     }
//   }
// }

// @mixin renderGrid($key, $settings) {
//   $i: 1;
//   @while $i <= map-get($settings, "columns") {
//     .col-#{$key}-#{$i} {
//       float: left;
//       width: 100% * $i / map-get($settings,"columns");
//     }
//     $i: $i+1;
//   }
// }

// @mixin media($queryString){
//     @media #{$queryString} {
//       @content;
//     }
// }

// @include renderGridStyles($settings);

// p {
//   padding: 20px;
//   color: white;
//   background: #9b59b6;
//   margin: 20px;
// }

.canvasjs-chart-credit {display:none;}
canvas.canvasjs-chart-canvas {
    border: 1px solid black; 
    border-radius: 5px;
}

@media (min-width: 992px) {
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
    }
}
#replicationStatus div{
    font-family: 'Nova Square', cursive;
}