.canvasjs-chart-credit {
  display: none; }

canvas.canvasjs-chart-canvas {
  border: 1px solid black;
  border-radius: 5px; }

@media (min-width: 992px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row; } }

/*# sourceMappingURL=style.css.map */

#replicationStatus div{
    font-family: 'Nova Square', cursive;
}