<div ng-controller="DetailCtrl">
    <div id="floatymenu" class="hidden-xs hidden-sm hidden-md well well-sm" style="position:fixed; top:60px; left:10px;">
        <div class="list-group">
            <a onclick="document.getElementById('resptime').scrollIntoView();" style="cursor: pointer" class="list-group-item">Resp. Time</a>
            <a onclick="document.getElementById('load').scrollIntoView();" style="cursor: pointer"  class="list-group-item">Load</a>
            <a onclick="document.getElementById('errors').scrollIntoView();" style="cursor: pointer"  class="list-group-item">Errors</a>
            <a onclick="document.getElementById('cpu').scrollIntoView();" style="cursor: pointer"  class="list-group-item">CPU</a>
            <a onclick="document.getElementById('btcms').scrollIntoView();" style="cursor: pointer"  class="list-group-item">BT (CMS)</a>
            <a onclick="document.getElementById('btvaw').scrollIntoView();" style="cursor: pointer"  class="list-group-item">BT (VAW)</a>
            <a onclick="document.getElementById('inload').scrollIntoView();" style="cursor: pointer"  class="list-group-item">In Load</a>
            <a onclick="document.getElementById('replication').scrollIntoView();" style="cursor: pointer"  class="list-group-item">Replication</a>
            <a onclick="document.getElementById('leadsstats').scrollIntoView();" style="cursor: pointer"  class="list-group-item">Leads</a>
        </div>
    </div>
	<div class="row row-eq-height" id="resptime">
		<div class="col-md-6 well ">
			<div id="vaw" style="height: 300px; width: 100%"></div>
		</div>
		<div class="col-md-6 well">
			<div id="cms" style="height: 300px; width: 100%"></div>
		</div>
	</div>
	<div class="row row-eq-height" id="load">
		<div class="col-md-6 well">
			<div id="vawload" style="height: 300px; width: 100%"></div>
		</div>
		<div class="col-md-6 well">
			<div id="cmsload" style="height: 300px; width: 100%"></div>
		</div>
	</div>
    <div class="row row-eq-height" id="errors">
        <div class="col-md-6 well">
            <div id="vawerrors" style="height: 300px; width: 100%"></div>
        </div>
        <div class="col-md-6 well">
            <div id="cmserrors" style="height: 300px; width: 100%"></div>
        </div>
    </div>
    <div class="row row-eq-height" id="cpu">
        <div class="col-md-6 well">
            <div id="vawcpu" style="height: 300px; width: 100%"></div>
        </div>
        <div class="col-md-6 well">
            <div id="cmscpu" style="height: 300px; width: 100%"></div>
        </div>
    </div>
    <div class="row row-eq-height" id="btcms">
        <div class="col-md-12 well">
            <div id="cmsbuisness" style="height: 600px; width: 100%"></div>
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-12 well" id="btvaw">
            <div id="vawbuisness" style="height: 600px; width: 100%"></div>
        </div>
    </div>
	<div class="row row-eq-height" id="inload">
		<div class="col-md-6 well">
			<div id="vawStatus">
				<h2>PRTG VAW Servers in Load</h2>
			</div>
            <div id="vawServerStatus">
                <h2>VAW Servers in Load</h2>
            </div>
		</div>
		<div class="col-md-6 well">
			<div id="cmsStatus">
				<h2>PRTG CMS Servers in Load</h2>
			</div>
		</div>
	</div>
    <div class="row row-eq-height" id="replication">
        <div class="col-md-12 well">
            <div id="replicationStatus">
                <h2>VAW Replication Status</h2>
            </div>
        </div>
    </div>
    <div id="leadsstats" class="well col-md-12 row">
        <a href="/sql/failingleads.sql"><div id="badleads" class="alert alert-danger text-center" role="alert"></div></a>
        <a href="/sql/ignoredleads.sql"><div id="ignoredleads" class="alert alert-danger text-center" role="alert"></div></a>
        <br />
        <div id="leads" style="height: 300px; width: 100%"></div>
        <br />
        <div id="unimportedleads" style="height: 300px; width: 100%"></div>
</div>
</div>