
<link rel="stylesheet" href="/style/elkdial.css">
<div ng-controller="SimpleCtrl" data-ng-init="init()">
    <form method="get" ng-submit="submit()">
        <div>
            <input type="text" ng-model="message" placeholder="vinbot">
            <button ng-click="sendMessage()">ask</button>
        </div>
        <p class="alert alert-success" role="alert">{{vinbotmessage}}</p>
    </form>
    <h2>CMS</h2>
    <div class="radial-progress" data-progress="{{data.cmsCpuAverage}}" data-alertlevel="{{data.cmsCpuAlert}}" , data-description="CPU">
        <div class="circle">
            <div class="mask full">
                <div class="fill"></div>
            </div>
            <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
            </div>
            <div class="shadow"></div>
        </div>
        <div class="inset">
        </div>
    </div>
    <!--<div class="radial-progress" data-progress="{{data.cmsRespAverage}}" data-alertlevel="{{data.cmsRespAlert}}" , data-description="RESP">
        <div class="circle">
            <div class="mask full">
                <div class="fill"></div>
            </div>
            <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
            </div>
            <div class="shadow"></div>
        </div>
        <div class="inset">
        </div>
    </div>-->
    <h2>VAW</h2>
    <div class="radial-progress" data-progress="{{data.vawCpuAverage}}" data-alertlevel="{{data.vawCpuAlert}}" , data-description="CPU">
        <div class="circle">
            <div class="mask full">
                <div class="fill"></div>
            </div>
            <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
            </div>
            <div class="shadow"></div>
        </div>
        <div class="inset">
        </div>
    </div>

</div>